# yaml-language-server: $schema=https://json.schemastore.org/github-workflow
name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:

env:
  IMAGE: ghcr.io/dragonpaw/discord-bot

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        run: |
          export TAG=$(date "+%Y.%m.%d-%H.%M.%S")
          echo "Tag: $TAG"
          echo -n $TAG > .tag
          docker build . --file Dockerfile \
            --tag ${IMAGE}:${TAG} \
            --tag ${IMAGE}:latest \
            --build-arg BUILD_TAG="$TAG"

      # - name: Test with pytest
      #   run: docker run ${IMAGE}:latest pytest

      - name: Login to GitHub Container Registry
        if: github.event_name == 'push'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push
        if: github.event_name == 'push'
        run: |
          export TAG=$(cat .tag)
          docker push ${IMAGE}:latest
          docker push ${IMAGE}:${TAG}
